<nav class="navbar navbar-expand-lg navbar-light bg-light text-secondary"> 
    <div>
        <a href="https://www.bombinhas.sc.gov.br/">
        <img class="img_logo" src="../assets/img/prefeitura-bombinhas.png" alt="pref-bombinhas" 
        title="pref-bombinhas"> 
        </a>
        <a routerLink="/">
        <img class="img_logo" src="../assets/img/tpa-bombinhas.png" alt="tpa" 
        title="tpa"> 
        </a>  
    </div>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">              
        <ul class="navbar-nav mr-auto">       
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/">Home</a>
            </li> 
            
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/sobre">Sobre</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/como-funciona">Como Funciona</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/tarifa">Tarifa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/pontos-pagamento">Postos de Pagamento</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/contato">Contato</a>
            </li>                  
        </ul>   
    </div>            
</nav>