<div class="fundo text-secondary">
    <div class="container">
        <div>
            <h2 class="titulo">SOBRE</h2>
        </div>
        <div>
            <p>
                Bombinhas é patrimônio universal, um dos raros recantos que possui em tão pequeno 
                espaço os mais diversos ecossistemas: bioma da mata atlântica, restingas, manguezais, 
                costões rochosos e floresta ombrófila densa, entre outros. Sua diversidade e abundância 
                de recursos marinhos tornam a região um dos mais ricos polos pesqueiros e de mergulho 
                contemplativo do Mercosul.
            </p>
        </div>

        <div>
            <a class="btn btn-success botao"
            href="http://www.bombinhas.sc.gov.br/cms/pagina/ver/codMapaItem/53478" 
            target="_blank">Saiba Mais</a>
        </div>
    </div>
</div>