<div class="fundo bg-white text-secondary">
    <div class="container">
        <div>
            <h2 class="titulo">PAGAMENTO</h2>
        </div>

        <div>
            <p>
                Informe a placa do seu veículo no campo abaixo para realizar a quitação de seu débito com a 
                TPA Bombinhas. Após sua consulta você poderá definir quantas taxas deseja pagar e também 
                adquirir taxas de crédito para seu veículo.
            </p>
        </div>
        
    </div>
</div>