<div class="fundo bg-white text-secondary">
    <div class="container">
        <div>
            <h2 class="titulo">PAGAMENTO</h2>
        </div>

        <div>
            <p>
                Informe a placa do seu veículo no campo abaixo para realizar a quitação de seu débito com a 
                TPA Bombinhas. Após sua consulta você poderá definir quantas taxas deseja pagar e também 
                adquirir taxas de crédito para seu veículo.
            </p>

            <p class="alerta_temporada text-white">
                AS TAXAS APRESENTADAS NESTE SITE SÃO REFERENTES APENAS A TEMPORADA 2018/2019 (15/11/2018 A 15/04/2019) 
                PARA INFORMAÇÕES SOBRE DÉBITO DE OUTRAS TEMPORADAS, ENTRE EM CONTATO ATRAVÉS DO 
                E-MAIL: COBRANCATPA@BOMBINHAS.SC.GOV.BR
            </p>
        </div>
        
    </div>
</div>