<header>
  <div class="navbar navbar-expand-lg navbar-dark text-secondary">
    <img class="img_logo" src="../assets/img/prefeitura-bombinhas.png" alt="pref-bombinhas" title="pref-bombinhas"> 
    <img class="img_logo" src="../assets/img/tpa-bombinhas.png" alt="pref-bombinhas" title="pref-bombinhas"> 
    <nav class="navbar navbar-expand-lg navbar-dark text-secondary"> 
        <div class="header_nav">              
            <div class="navbar-nav text-secondary">                       
                <a class="nav-item nav-link text-secondary" routerLink="/">Home</a>
                <a class="nav-item nav-link text-secondary" routerLink="/sobre">Sobre</a>
                <a class="nav-item nav-link text-secondary" routerLink="/como-funciona">Como Funciona</a>
                <a class="nav-item nav-link text-secondary" routerLink="/tarifa">Tarifa</a> 
                <a class="nav-item nav-link text-secondary" routerLink="/pontos-pagamento">Pontos de Pagamento</a>    
                <a class="nav-item nav-link text-secondary" routerLink="#">Contato</a>                            
            </div>      
        </div>            
    </nav>
  </div>
</header>

<router-outlet></router-outlet> 

<footer >
  <p><small>&copy; 2016 - TPA - Todos os direitos reservados</small>
    <img class="img_logo" src="../assets/img/telmesh.png" alt="telmesh" title="telmesh"> 
  </p>
</footer>