<header>
  <div class="navbar navbar-expand-lg navbar-dark text-primary">
    <img class="img_logo" src="../assets/img/prefeitura-bombinhas.png" alt="pref-bombinhas" title="pref-bombinhas"> 
    <img class="img_logo" src="../assets/img/tpa-bombinhas.png" alt="pref-bombinhas" title="pref-bombinhas"> 
    <nav class="navbar navbar-expand-lg navbar-dark text-primary"> 
        <div class="header_nav">              
            <div class="navbar-nav text-primary">                       
                <a class="nav-item nav-link text-primary" routerLink="/">Home</a>
                <a class="nav-item nav-link text-primary" routerLink="/clube">Sobre</a>
                <a class="nav-item nav-link text-primary" routerLink="/atleta">Como Funciona</a>
                <a class="nav-item nav-link text-primary" routerLink="/sumula">Tarifa</a> 
                <a class="nav-item nav-link text-primary" routerLink="/sumula">Pontos de Pagamento</a>    
                <a class="nav-item nav-link text-primary" routerLink="/sumula">Contato</a>                            
            </div>      
        </div>            
    </nav>
  </div>
</header>

<router-outlet></router-outlet> 