<div class="fundo bg-info text-white">
        <div class="container">          
            <div>
                <p class="placa bg-dark">
                    PWL2485
                </p>
            </div>    
            
            <div>
                <h2 class="titulo">ISENTO ?</h2>
                <p>
                    Não
                </p>
            </div>

            <div>
                <h2 class="titulo">CLASSIFICAÇÃO</h2>
                <p>
                    1 - AUTOMOVEL\REBOQUE
                </p>
            </div>

            <div>
                <h2 class="titulo">QUANTIDADE DE PASSAGENS</h2>
                <p>
                    Nenhuma
                </p>
            </div>

            <div>
                <h2 class="titulo">QUANTIDADE DE TAXAS</h2>
                <p>
                    Nenhuma
                </p>
                <p>
                    R$0.00
                </p>
            </div>

            <div>
                <h2 class="titulo">FORMA DE PAGAMENTO</h2>
                <p>
                    Nenhuma
                </p>
                <p>
                    R$0.00
                </p>
            </div>
        </div>
    </div>