.fundo
{
    background: url('../../assets/img/fundo-como-funciona.jpg') no-repeat center ;
    color: white;
    text-align: center;
    padding: 2%;
}

.titulo
{
    font-weight: bold;
}

.botao
{
    margin: auto;
}

.lado-a-lado
{
    display: flex;
    margin: 1% 0;
    justify-content: center;
    flex-wrap: wrap;
}

.lado-a-lado-janela
{
    float: left;
    margin: auto;
    text-align: center;
    justify-content: center;
    max-width: 500px;
}