<div class="fundo">
    <div class="container">
        <div>
            <h2 class="titulo">COMO FUNCIONA</h2>
        </div>
        <div>
            <div class="lado-a-lado">
                <div class="lado-a-lado-janela">
                    <h3>POR QUE A TPA EXISTE ?</h3>
                    <p>                           
                        Visamos o crescimento local sustentável focado na preservação da natureza e na 
                        qualidade de vida dos habitantes e da população flutuante, afim de minimizar 
                        os impactos ao meio ambiente causados durante a alta temporada.
                    </p>
                </div>

                <div class="lado-a-lado-janela">
                    <h3>POR QUE DA TAXA ?</h3>
                    <p>                           
                        Em decorrência da equação, volume excessivo de pessoas e veículos/pequeno espaço 
                        territorial e período de tempo, causando manifestos prejuízos de ordem ambiental, 
                        especialmente na temporada de verão.
                    </p>
                </div>
            </div>
        </div>

        <div>
            <a class="btn btn-primary botao"
            href="https://www.bombinhas.sc.gov.br/cms/diretorio/index/codMapaItem/44790" 
            target="_blank">Saiba Mais</a>
        </div>
    </div>
</div>